{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protected</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/styles.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Protected Page</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem saepe,
        temporibus laborum, incidunt provident consequatur perspiciatis beatae
        eveniet velit suscipit, soluta voluptatem iste nulla odio voluptatum!
        Voluptas nisi sit eum.
      </p>
      <a href="{% url 'home' %}">Home</a>
    </div>
  </body>
</html>
